body {
    margin: 0;
    overflow: hidden;
}

canvas {
    display: block;
}

.label {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px 5px;
    border-radius: 3px;
    pointer-events: none;
    display: none;
}

.planet-buttons {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: white;
}

.planet-button {
    margin: 5px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sun-button {
    margin: 5px;
    padding: 10px;
    background-color: #ffcc00;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.free-movement-button {
    margin: 5px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.date-div {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 20px;
}

.info-div {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px;
    border-radius: 10px;
}
